<div>

    <h1 class="articleheader">ARTICLES</h1>

    <ul>

        <li class="service-list2"><a href="articles/art_1.html"><h1 class="articleheader" style="color:#010e23;">A Letter to India</h1></a>
            <p class="art_description">Today marks the 70th year of independence of our motherland ... Yes, we strive for excellence but, is this the country we really want to live in?
                A country where 63 babies died in a hospital due to the lack of oxygen, and ...</p></li>

        <li class="service-list2"><a href="articles/art_2.html"><h1 class="articleheader" style="color:#010e23;">A Letter to Pakistan</h1></a>
            <p class="art_description">Yesterday marked the 70th anniversary of your country. Your country, that was once a part of ours' or rather, once our countries co-existed mutually as one. 
                Yet today, we are nothing but bitter rivals. However, is this bitterness really necessary? Is it really this necessary that ...</p></li>
        <li class="service-list2"><a href="articles/art_3.html"><h1 class="articleheader" style="color:#010e23;">17 mins to make 71st count?</h1></a>
            <p class="art_description">It has been a very busy day for the entire department. The national holidays always remain as one of the target days for the terrorists ... 
                The officials have been hustling around, seeking threads of any information whatsoever, regarding the possible threats for the next day. But, ...</p></li>

        <li class="service-list2"><a href="articles/art_4.html"><h1 class="articleheader" style="color:#010e23;">Words</h1></a>
            <p class="art_description">First, there were a few materials, which was then made into a even solid material, as solid as the materialistic dreams of the masses, 
                this small comment will not affect you unless you both belong and not belong to the masses, whatever, moving back, this solid material then changed ...</p></dt>

        <li class="service-list2"><a href="articles/art_5.html"><h1 class="articleheader" style="color:#010e23;">"100 Yards of Life"</h1></a>
            <p class="art_description">Just about 8 o' clock the other night, while silently minding my own business, I couldn't help being intrigued by the juvenile avidity of a group of about twelve children. 
                They were battling their lungs out, over a game of football. It was in a park on the Southern Avenue.</p></li>

        <li class="service-list2"><a href="articles/art_6.html"><h1 class="articleheader" style="color:#010e23;">Yes I Can</h1></a>
            <p class="art_description">Everyone is apparently considered an equal by law but it is very easy to deprive a girl from everything by just telling her that you are a woman ... 
                a woman is always portrayed as delicate and weak as compared to men ...</p></li>

        <li class="service-list"><a href="articles/art_9.html"><img src="articles/images/art_9.jpg"><h1 class="articleheader"><br>Food Recipe: Chicken Ghee Roast</h1></a></dt>
            <p class="art_description">Today I am sharing the recipe of one of the famous Mangalorean dishes (and one of my favourites), chicken ghee roast with neer dosa. Chicken ghee roast, 
                being spicy and little heavy, goes perfectly with light and spongy neer dosa.</p></li>

        <li class="service-list"><a href="articles/art_8.html"><img src="articles/images/art_8.jpg"><h1 class="articleheader"><br>Food Recipe: Refried Beans</h1></a>
            <p class="art_description">Whenever we think of Mexican cuisine, the first thing which comes to our mind is taco. Though the authentic taco is mainly made of meat (especially beef and pork), 
                but if you are a vegetarian, here is something for you. </p></li>

        <li class="service-list"><a href="articles/art_7.html"><img src="articles/images/art_7.jpg"><h1 class="articleheader"><br>Food Recipe: Achari Chicken</h1></a>
            <p class="art_description">Summer's here. And in India, most of the households will be busy with pickling raw mangoes with a whole mix of different spices. I love these tangy and 
                aromatic pickles.</p></li>
    </ul>
</div>