<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="public/images/favicon.ico" />
        <title>Youniquemag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="public/WebApp/sandstone/bootstrap.css" media="screen">
        <link rel="stylesheet" href="public/WebApp/assets/css/custom.min.css">
        <link rel="stylesheet" href="public/stylesheets/possible.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
          <script src="../bower_components/respond/dest/respond.min.js"></script>
        <![endif]-->
        <script>

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23019901-1']);
          _gaq.push(['_setDomainName', "bootswatch.com"]);
          _gaq.push(['_setAllowLinker', true]);
          _gaq.push(['_trackPageview']);

          (function () {
              var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>

    <body>
        <div id="wrapper">

            <header>
                <div id="banner">
                    <div style="margin: auto auto;">
                        <div style="display: inline-block; padding-left: 5%; padding-right: 10%">
                            <img src="public/images/logo.jpg" alt="logo" class="img-responsive center-block" />
                        </div>
                        <div style="display: inline-block; padding-left: 5%; padding-right: 10%">
                            <img src="public/images/name_logo.png" alt="Youniquemag" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
            </header>

            <div class="bs-docs-section clearfix">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.html">Home</a>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="./articles.html">Articles</a></li>
                                        <li><a href="./contactus.html">Contact us</a></li>
                                        <li><a href="./appform.html">Work with us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
