<div class="heading">
    <div class="centerdiv">
        <p class="title1">
            World starts with you, not the other way around.
            <br><br>In Youniquemag, we value one's individuality.
            <br><br>Be the example to those who need one to survive, BE YOUNIQUE!
        </p>
        <a href="./articles.html">
            <button class="showarticles">
                SHOW ARTICLES
            </button>
        </a>
    </div>
</div>
